h1
{
  color: black;
  font-size: 64px;
  line-height: 40px;
}

h2
{
  color: black;
  font-size: 58px;
  line-height: 40px;
}

h3
{
  color: black;
  font-size: 52px;
  line-height: 40px;
}

h4
{
  color: black;
  font-size: 46px;
  line-height: 40px;
}

h5
{
  color: black;
  font-size: 40px;
  line-height: 40px;
}
