/*import Oswald font*/
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

#map 
{
  height: 50%;
  width: 60%;
  margin: auto;
  align: center;
}

/*fixed and fluid layout specifications*/
.wrapper
{
  width: 960px; 
  margin: 0 auto;
}

.wrapper-fluid
{
  width: 90%;
  margin-right: 2%;
  margin-left: 2%
}

.navigation
{
  background-color: #ff8c69;
  width: 250px;
  height: 25px;
  margin: auto;
}

.navigation ul
{
  text-align: center;
  list-style-type: none;
}

.navigation li
{
  display: inline-block;
}

.main
{
  width: 750px;
}

.fluid
{
  width: 78.125%;
}

/*link properties*/

.linked:link
{
  color: white;
}

.linked:visited
{
  color: black;
}

/*formatting for body - background color*/
.content
{
  background-color: lavender;
}

/*formatting for headings*/
h1
{
  color: white;
  font-size: 46px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

h2
{
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

.maphead
{
  color: black;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
  text-align: center;
  padding: 25px;
}

h3
{
  color: white;
  font-size: 34px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

h4
{
  color: white;
  font-size: 28px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

h5
{
  color: white;
  font-size: 22px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

.links
{
  color: white;
  font-size: 22px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
  text-align: center;
}

h6
{
  color: white;
  font-size: 16px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

/*formatting for paragraphs*/
p
{
  color: white;
  font-size: 20px;
}

.mappar
{
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 25px;
}

/*formatting for list components*/
ul
{
  list-style: square;
}

li
{
  color: white;
  font-size: 20px;
}

ul li p
{
  padding: 25px;
}

.media
{
  display: inline;
}

/*picture formatting*/

.mapPics
{
  width: 80px;
  height: 80px;
}

.infopic
{
  height: 100px;
  width: 100px;
}

.footerpic
{
  height: 250px;
  width: 650px;
}

/*additional map page formatting*/
.mapcontent 
{
  background-color: #587e76;
}

.mapnavigation
{
  background-color: #c1502e;
  width: 250px;
  height: 25px;
  margin: auto;
}

.mapnavigation ul
{
  text-align: center;
  list-style-type: none;
}

.mapnavigation li
{
  display: inline-block;
}

.map
{
  border: solid #686256 4px;
}

/*tablet design*/
@media screen and (min-width: 700px) 
{
  .mapcontent 
  {
    background-color: #82b74b;
  }
  
  .mapnavigation
  {
    background-color: #405d27;
    width: 250px;
    height: 25px;
    margin: auto;
  }

  .mapnavigation ul
  {
    text-align: center;
    list-style-type: none;
  }

  .mapnavigation li
  {
    display: inline-block;
  }
  
  .map
  {
    border: solid #c1946a 4px;
  }
  
  .mappar
  {
    color: #3e4444;
  }
  
  .maphead
  {
    color: #3e4444;
  }
}

@media screen and (min-width: 1200px) 
{
  .mapcontent 
  {
    background-color: #bc5a45;
  }
  
  .mapnavigation
  {
    background-color: #f18973;
    width: 250px;
    height: 25px;
    margin: auto;
  }

  .mapnavigation ul
  {
    text-align: center;
    list-style-type: none;
  }

  .mapnavigation li
  {
    display: inline-block;
  }
  
  .map
  {
    border-style: solid;
    border-width: 5px;
    border-color: #b2b2b2;
  }
  
  .mappar
  {
    color: black;
  }
  
  .maphead
  {
    color: black;
  }
}
