body
{
  background-color: blue;
  font-family: customFont;
}

h1
{
  color: white;
  font-size: 46px;
  line-height: 40px;
}

h2
{
  color: white;
  font-size: 40px;
  line-height: 40px;
}

h3
{
  color: white;
  font-size: 34px;
  line-height: 40px;
}

h4
{
  color: white;
  font-size: 28px;
  line-height: 40px;
}

h5
{
  color: white;
  font-size: 22px;
  line-height: 40px;
}

p
{
  color: white;
  font-size: 20px;
}

ul
{
  list-style: square;
}

li
{
  color: white;
  font-size: 20px;
}
