/*import Oswald font*/
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

/*map formatting*/
#map 
{
  height: 50%;
  width: 60%;
  margin: auto;
}

.maphtml
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.mapcontent
{
  height: 100%;
  margin: 0;
  padding: 0;
}

/*fixed and fluid layout specifications*/
.wrapper
{
  width: 960px; 
  margin: 0 auto;
}

.wrapper-fluid
{
  width: 90%;
  margin-right: 2%;
  margin-left: 2%
}

.navigation
{
  background-color: blue;/*#f18973;*/
  width: 250px;
  height: 25px;
  margin: auto;
}

.navigation ul
{
  text-align: center;
  list-style-type: none;
}

.navigation li
{
  display: inline-block;
}

.main
{
  width: 750px;
}

.fluid
{
  width: 78.125%;
}

/*link properties*/

.linked:link
{
  color: white;
}

.linked:visited
{
  color: black;
}

/*formatting for body - background color*/
.content 
{
  background-color: #bc5a45;
}

/*formatting for headings*/
h1
{
  color:black;
  font-size: 46px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

h2
{
  color: black;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

.maphead
{
  color: black;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
  text-align: center;
  padding: 25px;
}

h3
{
  color: black;
  font-size: 34px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

h4
{
  color: black;
  font-size: 28px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

h5
{
  color: black;
  font-size: 22px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

.links
{
  color: black;
  font-size: 22px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
  text-align: center;
}

h6
{
  color: black;
  font-size: 16px;
  line-height: 40px;
  font-family: 'Alata', sans-serif;
}

/*formatting for paragraphs*/
p
{
  color: black;
  font-size: 20px;
}

.mappar
{
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 25px;
}

/*formatting for list components*/
ul
{
  list-style: square;
}

li
{
  color: black;
  font-size: 20px;
}

ul li p
{
  padding: 25px;
}

.media
{
  display: inline;
}

/*picture formatting*/

.mapPics
{
  width: 80px;
  height: 80px;
}

.infopic
{
  height: 100px;
  width: 100px;
}

.footerpic
{
  height: 250px;
  width: 650px;
}

/*additional map page formatting*/
.mapcontent 
{
  background-color: #587e76;
}

.mapnavigation
{
  background-color: #c1502e;
  width: 250px;
  height: 25px;
  margin: auto;
}

.mapnavigation ul
{
  text-align: center;
  list-style-type: none;
}

.mapnavigation li
{
  display: inline-block;
}

/*tablet design*/
@media screen and (min-width: 700px) 
{
  .mapcontent 
  {
    background-color: #82b74b;
  }
  
  .mapnavigation
  {
    background-color: #405d27;
    width: 250px;
    height: 25px;
    margin: auto;
  }

  .mapnavigation ul
  {
    text-align: center;
    list-style-type: none;
  }

  .mapnavigation li
  {
    display: inline-block;
  }
  
  .mappar
  {
    color: #3e4444;
  }
  
  .maphead
  {
    color: #3e4444;
  }
}

@media screen and (min-width: 1200px) 
{
  .mapcontent 
  {
    background-color: #bc5a45;
  }
  
  .mapnavigation
  {
    background-color: #f18973;
    width: 250px;
    height: 25px;
    margin: auto;
  }

  .mapnavigation ul
  {
    text-align: center;
    list-style-type: none;
  }

  .mapnavigation li
  {
    display: inline-block;
  }
  
  .mappar
  {
    color: black;
  }
  
  .maphead
  {
    color: black;
  }
  
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}
