.wrapper
{
	width: initial;
	margin: initial;
}

.navigation
{
	text-align:initial;
}

.navigation li
{
	display:initial;
}

.navigation a
{
	display:initial;
}

a:link
{
	color:black;
}

a:visited
{
	color:black;
}

body,
{
	background-color:initial;
	
}

h1,h2,h3,h4,h5,p,ul,li 
{
	font-family:initial;
}
